doctype html 

html 
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        if title 
            title= title
        else 
            title= "template"

        link(rel="stylesheet", href="style.css")
        script(src="client.js" defer)
    body 
        header 
            nav
                a(href="/") HOME
                a(href="/login") LOGIN
                a(href="/create") CREATE GUITAR 

            
        main 
            block content 
        footer 
            h2
                i nothing to see here